@media (max-width: 1200px)
    .promo
        min-height: 862px
        h3
            font-size: 145px
            line-height: 145px
        &_tel
            a
                font-size: 104px
                line-height: 104px
    .description
        padding: 364px 0 112px 0
    footer
        padding: 20px 0 20px 0
    .messengers
        justify-content: center
        margin-top: 10px
        &_item
            &:last-child
                margin-right: 0


@media (max-width: 991px)
    .subheader
        min-height: 175px
        padding: 18px 0 18px 0
        &_logo
            text-align: center
        &_phone
            text-align: center
            margin-top: 6px
    .promo
        h3
            font-size: 106px
            line-height: 106px
    
        &_tel
            a
                font-size: 78px
    .advantages
        padding: 40px 0 0 0
        h2
            line-height: 30px
        &_list
            margin: 14px 0 24px 0
            li
                font-size: 16px
    .title
        font-size: 28px
        line-height: 28px
    .description
        padding: 304px 0 40px 0
        &_text   
            font-size: 16px
            font-weight: 400
            line-height: 22px
    .video
        min-height: 408px
        padding: 42px 0 0 0
        iframe
            width: 426px
            height: 240px
  

@media (max-width: 767px)
    .subheader
        &_logo
            h1
                font-size: 33px
                line-height: 33px
        &_phone
            text-align: center
            margin-top: 6px
    .messengers
        &_item
            img
                width: 90%
    .promo
        padding: 261px 0 0 0
        h3
            font-size: 78px
            line-height: 78px
        a
            font-size: 56px
            line-height: 86px
    .title
        font-size: 24px
        margin-bottom: 10px
    .advantages_list li
        font-size: 15px
    .advantages
        &_list
            margin: 0 0 24px 0
        p 
            font-size: 17px
    .description
        &_text
            font-size: 15px

 
@media (max-width: 575px)
    .subheader
        &_logo
            h1
                font-size: 31px
                line-height: 31px
        &_phone
            font-size: 15px
            a
                font-size: 13px
    .promo
        min-height: 662px
        h3
            font-size: 46px
            margin-bottom: 0
            line-height: 46px
        &_tel
            a
                font-size: 33px
                line-height: 65px
    .advantages
        padding: 25px 0 0 0
        &_list
            margin: 0 0 12px 0
            li
                font-size: 14px
                &:last-child
                    margin-bottom: 0
    .title
        font-size: 21px
        line-height: 23px
        text-align: left
    .description
        padding: 200px 0 40px 0
        background: url(../img/backgrounds/description.jpg) 11% (center / cover) no-repeat
        &_text
            font-size: 14px
    .messengers
        &_item
            img
                width: 75%
    .video
        min-height: 334px
        iframe
            width: 280px
            height: 157px
  
        
                

                    